.svg-container {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    position: relative; /* Ensure a positioning context */

        min-width: 250px !important;
    
}

