.btn-icon {
    width: 32px;
    height: 32px;
    margin-right: 2px;
    margin-bottom: 2px;
    position: relative;

    img {
        height: 50%;
        width: 100%;
        transform: scale(1.5);
    }

    i {
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
    }
}

.td-header-left {
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 60px;
    border-radius: 10px;
}

.td-header-right {
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 60px;
    border-radius: 10px;
}

.td-header-center {
    height: 30px;
    text-align: center;
}

.template-night {
    background-image: linear-gradient(150deg, #3b3b3b, rgb(33 33 33));

    table {
        background-color: #1f2035;
        color: white;
        border-radius: 10px;

        .td-header-left {
            background-image: url('/assets/images/modules/code-snapshot/templates/night.png');
        }
    }
}

.template-fantasy {
    background-image: linear-gradient(150deg, #cd309a, rgb(0, 102, 255));

    table {
        background-color: #f1cbe6;
        color: #c44170;
        border-radius: 10px;
        box-shadow: 3px 3px 10px 2px silver;

        .td-header-left {
            background-image: url('/assets/images/modules/code-snapshot/templates/fantasy.png');
        }
    }
}

.code-box {
    padding: 10px;
    min-height: 50px;
}



#captureDiv {
    margin: auto;
}

#captureDiv>* {
    margin-top: 20px;
    margin-bottom: 20px;
}

#captureDiv>*:first-child {
    margin-top: 0;
}

#captureDiv>*:last-child {
    margin-bottom: 0;
}

.mr6px {
    margin-right: 6px;
}

.ml6px {
    margin-left: 6px;
}