<div class="main-banner">
  <div class="container">
    <div class="categories">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Pick a <em>tool</em> from the list below.</h2>
          </div>
        </div>

        <div class="row justify-content-evenly m-0">
          <div class="col-lg-2 col-sm-6 cursor-pointer"  *ngFor="let item of tools" (click)="goto(item)">
            <div class="item">
              <div class="icon">
                <img src="{{item.icon}}" alt="">
              </div>
              <h4>{{item.title}}</h4>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- <div class="discover-items">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-12">
              <span class="banner">Double Item</span>
            </div>
            <div class="col-lg-6 col-sm-6">
              <span class="author">
                <img src="assets/images/author.jpg" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
              </span>
              <img src="assets/images/discover-01.jpg" alt="" style="border-radius: 20px;">
              <h4>Mutant Ape Bored</h4>
            </div>
            <div class="col-lg-6 col-sm-6">
              <span class="author">
                <img src="assets/images/author.jpg" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
              </span>
              <img src="assets/images/discover-02.jpg" alt="" style="border-radius: 20px;">
              <h4>His Other Half</h4>
            </div>
            <div class="col-lg-12">
              <div class="line-dec"></div>
              <div class="row">
                <div class="col-lg-3 col-sm-6">
                  <span>Current Bid: <br> <strong>8.16 ETH</strong></span>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <span>Category: <br> <strong>Digital Art</strong></span>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <span>Collection:: <br> <strong>2/2</strong></span>
                </div>
                <div class="col-lg-3 col-sm-6">
                  <span>Ends In: <br> <strong>25th Nov</strong></span>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button">
                <a href="details.html">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="item">
          <div class="row">
            <div class="col-lg-12">
              <span class="author">
                <img src="assets/images/author.jpg" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
              </span>
              <img src="assets/images/discover-03.jpg" alt="" style="border-radius: 20px;">
              <h4>Genesis Meta Boom</h4>
            </div>
            <div class="col-lg-12">
              <div class="line-dec"></div>
              <div class="row">
                <div class="col-6">
                  <span>Current Bid: <br> <strong>5.15 ETH</strong></span>
                </div>
                <div class="col-6">
                  <span>Ends In: <br> <strong>26th Nov</strong></span>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button">
                <a href="details.html">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="item">
          <div class="row">
            <div class="col-lg-12">
              <span class="author">
                <img src="assets/images/author.jpg" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
              </span>
              <img src="assets/images/discover-04.jpg" alt="" style="border-radius: 20px;">
              <h4>Another Half Ape</h4>
            </div>
            <div class="col-lg-12">
              <div class="line-dec"></div>
              <div class="row">
                <div class="col-6">
                  <span>Current Bid: <br> <strong>3.63 ETH</strong></span>
                </div>
                <div class="col-6">
                  <span>Ends In: <br> <strong>24th Nov</strong></span>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button">
                <a href="details.html">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="item">
          <div class="row">
            <div class="col-lg-12">
              <span class="author">
                <img src="assets/images/author.jpg" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
              </span>
              <img src="assets/images/discover-03.jpg" alt="" style="border-radius: 20px;">
              <h4>Pixel Sand Box</h4>
            </div>
            <div class="col-lg-12">
              <div class="line-dec"></div>
              <div class="row">
                <div class="col-6">
                  <span>Current Bid: <br> <strong>4.68 ETH</strong></span>
                </div>
                <div class="col-6">
                  <span>Ends In: <br> <strong>28th Nov</strong></span>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button">
                <a href="details.html">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="item">
          <div class="row">
            <div class="col-lg-12">
              <span class="author">
                <img src="assets/images/author.jpg" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
              </span>
              <img src="assets/images/discover-04.jpg" alt="" style="border-radius: 20px;">
              <h4>Another Half Ape</h4>
            </div>
            <div class="col-lg-12">
              <div class="line-dec"></div>
              <div class="row">
                <div class="col-6">
                  <span>Current Bid: <br> <strong>2.03 ETH</strong></span>
                </div>
                <div class="col-6">
                  <span>Ends In: <br> <strong>25th Nov</strong></span>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button">
                <a href="details.html">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="item">
          <div class="row">
            <div class="col-lg-12">
              <span class="author">
                <img src="assets/images/author.jpg" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
              </span>
              <img src="assets/images/discover-06.jpg" alt="" style="border-radius: 20px;">
              <h4>Invisible NFT Land</h4>
            </div>
            <div class="col-lg-12">
              <div class="line-dec"></div>
              <div class="row">
                <div class="col-6">
                  <span>Current Bid: <br> <strong>2.03 ETH</strong></span>
                </div>
                <div class="col-6">
                  <span>Ends In: <br> <strong>25th Nov</strong></span>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button">
                <a href="details.html">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="item">
          <div class="row">
            <div class="col-lg-12">
              <span class="author">
                <img src="assets/images/author.jpg" alt="" style="max-width: 50px; max-height: 50px; border-radius: 50%;">
              </span>
              <img src="assets/images/discover-05.jpg" alt="" style="border-radius: 20px;">
              <h4>Another Half Ape</h4>
            </div>
            <div class="col-lg-12">
              <div class="line-dec"></div>
              <div class="row">
                <div class="col-6">
                  <span>Current Bid: <br> <strong>2.64 ETH</strong></span>
                </div>
                <div class="col-6">
                  <span>Ends In: <br> <strong>25th Nov</strong></span>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button">
                <a href="details.html">View Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
