h3 {
    color: wheat;
}

/* Webkit-based browsers (Chrome, Safari, Edge) */
textarea::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(33, 37, 41, 1);
    /* Scrollbar thumb color */
    border-radius: 10px;
    /* Rounded corners on the scrollbar thumb */
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: rgba(33, 37, 41, 1);
    /* Scrollbar thumb color on hover */
}

textarea::-webkit-scrollbar-track {
    background-color: rgba(33, 37, 41, 1);
    /* Scrollbar track (background) color */
    border-radius: 10px;
}

/* Firefox */
textarea {
    scrollbar-width: thin;
    /* Makes the scrollbar thinner */
    scrollbar-color: silver rgba(33, 37, 41, 1);
    /* Sets the thumb and track colors */
    overflow-x: hidden;
}

.w150px {
    width: 150px;
}