<div class="item-details-page px-2">
    <div class="container contact px-2">
        <div class="row px-4">
            <div class="row" style="margin: 0px !important;">
                <div class="col-sm-6  pb-3 pb-lg-0">

                    <div class="col-lg-12">
                        <button (click)="openFile(jsonData)" class="btn btn-success btn-sm mb-3 mx-1">Open File</button>
                        <button (click)="readAsUrl(jsonData)" class="btn btn-success btn-sm mb-3 mx-1">Read as
                            Url</button>
                        <button (click)="copy(jsonData)" class="btn btn-info btn-sm mb-3 mx-1">Copy</button>
                        <button (click)="paste(jsonData)" class="btn btn-info btn-sm mb-3 mx-1">Paste</button>
                        <button (click)="download(jsonData)" class="btn btn-warning btn-sm mb-3 mx-1">Download</button>
                    </div>
                    <div class="col-lg-12">
                        <textarea
                            class="col-sm-12 form-control bg-dark text-white border-{{jsonData.success?'success':'danger'}}"
                            rows="20" (input)="jsonUpdated()" [(ngModel)]="jsonData.content"></textarea>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-lg-12">
                        <button (click)="openFile(xmlData)" class="btn btn-success btn-sm mb-3 mx-1">Open File</button>
                        <button (click)="readAsUrl(xmlData)" class="btn btn-success btn-sm mb-3 mx-1">Read as
                            Url</button>
                        <button (click)="copy(xmlData)" class="btn btn-info btn-sm mb-3 mx-1">Copy</button>
                        <button (click)="paste(xmlData)" class="btn btn-info btn-sm mb-3 mx-1">Paste</button>
                        <button (click)="download(xmlData)" class="btn btn-warning btn-sm mb-3 mx-1">Download</button>
                    </div>
                    <div class="col-lg-12">

                        <textarea
                            class="col-sm-12 form-control bg-dark text-white border-{{xmlData.success?'success':'danger'}}"
                            rows="20" (input)="xmlUpdated()" [(ngModel)]="xmlData.content"></textarea>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>