<div class="item-details-page px-2">
  <div class="container contact px-2">
    <div class="row px-4">
      <div class="col-lg-12">
        <button (click)="readAsUrl()" class="btn btn-success btn-sm mb-3 mx-1">
          Read As Url
        </button>
        <button (click)="print()" class="btn btn-success btn-sm mb-3 mx-1">
          Print
        </button>
        <button class="btn btn-warning btn-sm mb-3 mx-1" (click)="import()">Import</button>
        <button class="btn btn-warning btn-sm mb-3 mx-1" (click)="export()">
          Export
        </button>
      </div>

      <div class="col-lg-12 body-doc">
        <div
          contenteditable="true"
          class="first-page"
          *ngIf="model.length"
          [innerHTML]="overviewContent"
        ></div>
        <table class="table-doc" *ngFor="let item of model">
          <tbody>
            <!-- Endpoint Header -->
            <tr *ngFor="let desc of item.descriptions">
              <td colspan="2" contenteditable="true" class="position-relative">
                Write Description
              </td>
            </tr>

            <tr>
              <td class="methods {{ item.method.toLowerCase() }}-method">
                <b>{{ item.method }}</b>
              </td>
              <td>
                <span class="m-1 text-black">{{ item.path }}</span>
                <button
                  class="hide-print float-end btn btn-outline-primary btn-sm"
                  (click)="addDesc(item)"
                >
                  Add Desc
                </button>
                <button
                  class="hide-print float-end btn btn-outline-danger btn-sm mx-2"
                  (click)="delDesc(item)"
                >
                  Del Desc
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="2"><br /></td>
            </tr>
            <!-- Details Section -->
            <tr>
              <td colspan="2" class="doc-text-dark">
                <div class="row">
                  <!-- Request Parameters -->
                  <div class="doc-w-50">
                    <div *ngIf="item.parameters.length">
                      <div><strong>Request Parameters</strong></div>
                      <ul class="list-unstyled">
                        <li *ngFor="let param of item.parameters" class="mb-2">
                          <div>
                            <code>{{ param.name }}</code>
                            <span class="text-muted"
                              >(in: {{ param.in }}, type: {{ param.type }},
                              required: {{ param.required }})</span
                            >
                          </div>
                          <div
                            *ngIf="param.description"
                            class="text-secondary small mt-1"
                          >
                            <b>Description:</b> {{ param.description }}
                          </div>
                        </li>
                      </ul>
                    </div>

                    <!-- Request Body Section -->
                    <div class="doc-w-100" *ngIf="item.requestBody">
                      <div><strong>Request Body</strong></div>
                      <div>
                        <b>Content-Type:</b> {{ item.requestBody.contentType }}
                      </div>
                      <pre class="bg-white border p-2 mt-2 text-break">{{
                        item.requestBody.sample
                      }}</pre>
                    </div>
                  </div>

                  <!-- Response Section -->
                  <div class="doc-w-50">
                    <div><strong>Responses</strong></div>
                    <div
                      *ngFor="let res of item.responses"
                      class="mb-3 border rounded p-2 bg-light"
                    >
                      <div><b>Status:</b> {{ res.status }}</div>
                      <div *ngIf="res.contentTypes?.length">
                        <b>Content Types:</b>
                        <br />
                        <span
                          *ngFor="let type of res.contentTypes"
                          class="badge bg-primary me-1"
                          >{{ type }}</span
                        >
                      </div>
                      <div>
                        <b>Sample:</b>
                        <pre class="bg-white border p-2 mt-2 text-break">{{
                          res.sampleResponse
                        }}</pre>
                      </div>
                    </div>
                  </div>

                  <hr />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
