<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">

                    <a href="index.html" class="logo" [routerLink]="'/'">
                        <img src="./assets/icons/icon-192x192.png" alt="" height="66">
                    </a>

                    <ul class="nav {{menuclass}}">
                        <li *ngFor="let item of menu">

                            <a *ngIf="!item.external" [ngClass]="{'active': item.active}" [routerLink]="item.url"
                                (click)="menuclass=''">
                                {{item.title}}</a>

                            <a *ngIf="item.external" [ngClass]="{'active': item.active}" [href]="item.url"
                                target="_blank">
                                {{item.title}}</a>
                        </li>
                    </ul>
                    <a class='menu-trigger' (click)="toggleMenu()">
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>