$wet-asphalt: #34495E;

h3 {
    font-family: 'Bree Serif', serif;
}

header {
    font-family: 'Bree Serif', serif;
    text-align: center;
    color: $wet-asphalt;

    p {
        margin: 0;
        color: transparentize($wet-asphalt, .6);
    }

    h1 {
        cursor: pointer;
    }
}